* {
    box-sizing: border-box;
}

/* general formatting */

body {
    background: url(../images/crystal-background.jpg);
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    line-height: 30px;
}

.container {
    background-color: #E9B0E2;
    opacity: 0.8;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

/* header */
#main-header {
    width: 100%;
    background-color: #E9B0E2;
    opacity: 0.8;
    padding: 20px;
    overflow: auto;
}

/* #main-header::after{
    content:"";
    clear: both;
} */

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    color: #ffffff;
    font-weight: bold;
}

/* main content */
.main-content {
    max-width: 960px;
    margin: 0 auto;
}
/* directions */
#directions {
    margin: 20px;
    border-radius: 15px;
    font-size: 18px;
    float: left;
    width: 40%;
}

h2 {
    text-align: center;
    font-weight: bold;

}

/* game  section */
#game-section {
    margin-top: 20px;
    border-radius: 15px;
    float: right;
    width: 55%;
}

#target-number-box {
    background-color:#FEF7FB;
    float: left;
    width: 250px;
    height: 100px;
}

#wins-and-losses-box {
    background-color:#FEF7FB;
    float: right;
    width: 150px;
    height: 100px;
}

#game-status {
    display: inline-block;
    margin: 0 auto;
}

.game-status-box {
    margin: 20px;
    border-radius: 15px;
    padding: 10px;
}

#current-score-box {
    background-color: #FA7EB3;
    opacity: 1.0;
    margin-left: 20px;
    width: 400px;
    text-align: center;
    border-radius: 15px;
    color: #ffffff;
}

#current-score-text, #target-number-text {
    font-size: 30px;
    text-align: center;
}

img {
    height: 150px;
    width: 150px;
    display: inline-block;
    margin-left: 40px;
}

button {
    font-size: 18px;
    background-color: #FEF7FB;
    color: #534242;
    display: none;
}
